{% if zone.hosts is defined %}
{% for ip, host in zone.hosts.items() %}
{{ "{:<25}  IN  A      {}".format(host.hostname, ip) }}
{% if host.cnames is defined %}
{% for cname in host.cnames %}
{{ "{:<25}  IN  CNAME  {}".format(cname, host.hostname) }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
